html {
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: #fff;
  position: relative;
}

@media screen and (max-width: 782px) {
  body.admin-bar {
    padding-top: 46px;
  }
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block;
}

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

a img {
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block;
}

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

a img {
  border: 0;
}

body, button, input, select, textarea {
  color: #404040;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {

  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 3%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin-bottom: 1em;
}

b, strong {
  font-weight: bold;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 300;
  margin: 1em 0 0 0;
  padding-right: 10%;
  position: relative;
}
@media (max-width: 768px) {
  blockquote {
    padding-right: 14%;
  }
}
blockquote:before {
  border: solid 2px #D4DAE0;
  border-radius: 100px;
  color: #D4DAE0;
  content: "\f10d";
  font-family: "FontAwesome";
  font-size: 18px;
  font-style: normal;
  line-height: 44px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 2%;
  height: 46px;
  width: 46px;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #F5F5F5;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

sup, sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

.highlight {
  background: #fff198;
}

.sticky {
  display: block;
}

hr {
  background-color: #f6f6f6;
  border: 0;
  height: 2px;
  margin: 5% 0;
}

ul, ol {
  margin: 0 0 5% 25px;
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

ul ul, ol ol, ul ol, ol ul {
  margin: .6em 0 0 1.5em;
}

.entry-content li {
  margin-bottom: 2%;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 0;
}

/* Tables */
table {
  font-size: 18px;
  margin-bottom: 5%;
  padding: 0;
  width: 100%;
}

table thead {
  background: #f7f7f7;
}
table thead th {
  font-weight: bold;
}

table td, #content table th {
  padding: 10px;
}

table td {
  border-bottom: solid 1px #f7f7f7;
}

table tr:last-child td {
  border-bottom: none;
}

table tr:nth-child(even) {
  background: #f7f7f7;
}

button, input, textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in IE6/IE7 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .button, #page #infinite-handle span {
  background: #404040;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px 15px;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, #page #infinite-handle span:hover {
  background: #555;
  color: #fff;
  cursor: pointer;
}

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active, .button:active, #page #infinite-handle span:active {
  border-color: #aaa #bbb #bbb #bbb;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

select {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  width: 100%;
  -webkit-appearance: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
  color: #999999;
  border: 2px solid #eeeeee;
  border-radius: 2px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
  border: 2px solid #ddd;
  color: #404040;
  outline: none;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
  padding: 8px 10px;
}

@media (max-width: 768px) {
  input[name="post_password"] {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
  }
}
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding: 10px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

a {
  color: #999999;
  text-decoration: none;
  -webkit-transition: .07s ease-in;
  transition: .07s ease-in;
}

a:hover, a:focus, a:active {
  color: #404040;
  -webkit-transition: .07s ease-in;
  transition: .07s ease-in;
}

.alignleft {
  display: inline;
  float: left;
  margin: .5em 2em 0 0;
}

.alignright {
  display: inline;
  float: right;
  margin: .5em 0 0 2em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.pull-right {
  float: right;
  margin: 1% -5% 3% 5%;
  text-align: right;
}

.pull-left {
  float: left;
  margin: 0 5% 3% -5%;
  text-align: left;
}

.pull-right, .pull-left {
  width: 34%;
  font-weight: 400;
  line-height: 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-style: italic;
}
@media (max-width: 768px) {
  .pull-right, .pull-left {
    width: 100%;
    margin: 0 0 5% 0;
  }
}

.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
  content: '';
  display: table;
}

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
  clear: both;
}

li p{
	line-height: 1.4;
}

.blog-post img{
	margin: 10px;
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

